In [21]:
# Importar o pandas e Base de dados
import pandas as pd
data=pd.read_csv("titanic_train.csv")

In [22]:
# Verificar as informações da base de dados
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [23]:
# Eliminar a coluna 'Cabin'
data=data.drop("Cabin", axis=1)
data=data.drop(["PassengerId", "Name"], axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [24]:
data["Age"].mean()
data.loc[data["Age"].isnull(), "Age"]=data["Age"].mean()

In [25]:

data["Sex"]=data["Sex"].replace("male", 0)
data["Sex"]=data["Sex"].replace("female", 1)
data["Sex"].value_counts()

0    577
1    314
Name: Sex, dtype: int64

Retirar os valores vazios
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

In [26]:
# Eliminar valores vazios
data=data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Sex       889 non-null    int64
 3   Age       889 non-null    float64
 4   SibSp     889 non-null    int64
 5   Parch     889 non-null    int64
 6   Ticket    889 non-null    object
 7   Fare      889 non-null    float64
 8   Embarked  889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 69.5+ KB

Apagar as colunas do tipo objeto

In [27]:
# Selecionar as colunas com o tipo "object"
colunas=data.dtypes[data.dtypes.values=="object"].index
data=data.drop(colunas, axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Sex       889 non-null    int64
 3   Age       889 non-null    float64
 4   SibSp     889 non-null    int64
 5   Parch     889 non-null    int64
 6   Fare      889 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 55.6 KB

Aplicar os modelos de classificação
- Arvore de Decisão 
https://scikit-learn.org/stable/modules/tree.html#classification
- KNN (Vizinhos mais proximos) 
https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html#sklearn.neighbors.KNeighborsClassifier
- Regressão Logistica 
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html#sklearn.linear_model.LogisticRegression

In [28]:
# Criar o X e y para o treino
X=data.drop("Survived", axis=1)
y=data["Survived"]

In [29]:
#Importar as bibliotecas
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

In [30]:
#Criar o  Classificador e fazer o fit
clf_Tree = tree.DecisionTreeClassifier().fit(X, y)
clf_KNN = KNeighborsClassifier(n_neighbors=3).fit(X, y)
clf_Log = LogisticRegression(random_state=0, max_iter=1000).fit(X, y)

In [31]:
#Ver o Score do Treino

print("Arvore:", clf_Tree.score(X,y))
print("KNN:", clf_KNN.score(X,y))
print("R Logistica:", clf_Log.score(X,y))

Arvore: 0.9820022497187851
KNN: 0.8413948256467941
R Logistica: 0.7975253093363329

Testar o modelo no ficheiro de Teste
titanic_test.csv

In [32]:
#importar a base de dados
data_teste=pd.read_csv("titanic_test.csv")

In [33]:
# Fazer os mesmos tratamentos
data_teste=data_teste.drop("Cabin", axis=1)
data_teste=data_teste.drop(["PassengerId", "Name"], axis=1)
data_teste["Age"].mean()
data_teste.loc[data_teste["Age"].isnull(), "Age"]=data_teste["Age"].mean()

data_teste["Sex"]=data_teste["Sex"].replace("male", 0)
data_teste["Sex"]=data_teste["Sex"].replace("female", 1)

data_teste=data_teste.dropna()

colunas2=data_teste.dtypes[data_teste.dtypes.values=="object"].index
data_teste=data_teste.drop(colunas, axis=1)

In [34]:
#Ver resultado final
data_teste.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  417 non-null    int64
 1   Pclass    417 non-null    int64
 2   Sex       417 non-null    int64
 3   Age       417 non-null    float64
 4   SibSp     417 non-null    int64
 5   Parch     417 non-null    int64
 6   Fare      417 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 26.1 KB

In [35]:
# Separar X e y da base de dados
X_teste=data_teste.drop("Survived", axis=1)
y_teste=data_teste["Survived"]

In [36]:
#Fazer a previsão
y_pred_Tree=clf_Tree.score(X_teste,y_teste)
y_pred_KNN=clf_KNN.score(X_teste,y_teste)
y_pred_Log=clf_Log.score(X_teste,y_teste)


print("Arvore:", clf_Tree.score(X_teste,y_teste))
print("KNN:", clf_KNN.score(X_teste,y_teste))
print("R Logistica:", clf_Log.score(X_teste,y_teste))

Arvore: 0.7985611510791367
KNN: 0.6498800959232613
R Logistica: 0.9448441247002398

In [ ]:
X_teste.to_excel("teste.xlsx", index=False, sheet_name="folha1")

Calcular a accuracy

https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html#sklearn.metrics.accuracy_score

In [37]:
import pickle

with open("modelo_final.pkl", "wb") as file:
    pickle.dump(clf_Log, file)